/*Start Global*/
*
{
	font-family: Arial, Tahoma;
	margin: 0;
 	padding: 0;
 	/*box-sizing: content-box; (Default Value)*/
 	/*Allow Me To Add Border Or Pading (exept margin)
 	  Without Change In The Arrange Of Elements*/
 	box-sizing: border-box
}

div
{
	float: left;
	width: 50%;
	width:200px;
	height: 200px;
	margin: 20px;
	padding: 10px;
	background-color: #EEE;
	border: 1px solid #CCC
}

h3, a{float: right; width: 50%; padding: 5px}

hr{width: 100%; overflow: hidden}
/*End Global*/


/*Start #03 - Border Radius*/
.border-radius
{
	border-top-left-radius: 10px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 50px;

	/*This Is The Same As Above*/
	border-radius: 10px 30px 40px 50px 
}
/*End #03 - Border Radius*/


/*Start #04 - Box Shadow*/
/*box-shadow: Horizontal(+/-), Vertical(+/-), Blur, 
  Spread(rare used),Color, Inset(rare used)*/
.box-shadow
{
	box-shadow:-5px -5px 8px #F00,
			    /*Another Shadow*/
			    5px 5px 8px #00F,
			    /*Another Shadow*/
			   -10px -10px 8px #080
}
/*End #04 - Box Shadow*/


/*Start #05 - Box Sizing*/
/*Look To box-sizing; In Global*/
section
{
	float: left;
	width: 400px;
	margin: 20px;
	background-color: #EEE;
	overflow: hidden
}

/*If We Add Padding Or Border
  The Arrange Of Div Will Change So We
  Use (box-sizing:border-box;) To Fix This*/
.left
{
	float: left;
	width: 30%;
	margin: 0;
	padding: 10px;
	border: 1px solid #CCC;
	height: auto;
	background-color: #F00;
	color: #FFF
}

.right
{
	float: right;
	width: 70%;
	margin: 0;
	padding: 10px;
	border: 1px solid #CCC;
	height:auto;
	background-color: #00F;
	color: #FFF
}
/*End #05 - Box Sizing*/


/*Start #06 - Examples Box Shadow, Border Radius*/
img
{
	float: left;
	margin: 20px;
	padding: 3px;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-shadow: 7px  7px 20px #E4E4E4,
			   -7px -7px 20px #E4E4E4
}

img:hover
{
	border-radius: 50%;
}
/*End #06 - Examples Box Shadow, Border Radius*/


/*Start #07 - Text Shadows*/
/*box-shadow: Horizontal(+/-), Vertical(+/-), Blur-Radius, Color*/
/*The Default (text-shadow:none;)*/
h1
{
	float: left;
	margin: 20px;
	text-shadow: 1px 2px 3px #2342F0,
				 /*Another Shadow*/
				 2px 3px 7px #9F9F9F,
				 /*Another Shadow*/
				 1px 2px 3px #F01149
}
/*End #07 - Text Shadows*/



/*Start #08 - Text Overflow*/ 
.text-overflow 
{  
	height: auto;   
	/*Prevent The Sentence From Wrap*/
	white-space:nowrap;
	/*Clear The Sentence Outside The Div*/
	overflow: hidden;
	/*text-overflow: clip(Default), ellipsis, inherit*/
	text-overflow: ellipsis
}

.text-overflow:hover
{
	overflow: visible;
} 
/*End #08 - Text Overflow*/


/*Start #09 - Word Wrap, White Space*/
.word-wrap
{
	height: auto;
	/*Diference Between white-space: & word-wrap: IS THAT:
	  # white-space: Need Space To Break The Sentence From It.
	  # word-wrap: Dont Need Space Because IT Break The Word.*/
	/*word-wrap: normal(Default), break-word*/
	word-wrap: break-word
}
/*End #09 - Word Wrap, White Space*/


/*Start #10 - 2D Transform - Rotate*/
.transform-rotate
{
	height: auto;
	text-align: center;
	/*deg==>degree*/
	transform: rotate(10deg);
}

.transform-rotate:hover
{
	transform: rotate(-10deg);
}
/*End #10 - 2D Transform - Rotate*/


/*Start #11 - 2D Transform - Scale*/
.container
{
	width: 400px;
}

.transform-scale
{
	background-color: #080;
	color: #FFF;
	text-align: center;
	height: 180px;
	/*transform: scale(width, height);*/
	/*transform: scale(2,2); Is The Same As (2);*/
	/*transform: scale(0.5,0.5); Is The Same As (.5,.5);*/
	/*transform: scaleX(2);  [X=width]*/
	/*transform: scaleY(2);  [Y=height]*/
	transform: scale(.8);
}

.transform-scale:hover
{
	/*transform: none; (Default For Any Transform Type)*/
	transform: none
}
/*End #11 - 2D Transform - Scale*/

